@import "tailwindcss";

.rdp-day_selected {
  background-color: #10b981 !important;
  color: white !important;
}

.rdp-day_range_middle {
  background-color: #d1fae5 !important;
}
.booked-date {
  background: linear-gradient(
    135deg,
    #059669,
    #22C55E
  ) !important;

  color: white !important;

  border-radius: 999px !important;

  font-weight: 700;

  box-shadow:
    0 4px 10px rgba(16, 185, 129, 0.25);

  transition: all 0.2s ease;
}

.booked-date:hover {
  transform: scale(1.08);

  background: linear-gradient(
    135deg,
    #059669,
    #16a34a
  ) !important;
}
/* index.css */

.dots::after {
  content: "";
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}